<section {{ settings.section_attributes.addClass('two-column-section') }}>
  <div {{ region_attributes.left.addClass('left') }}>
    <div {{ region_attributes.left.addClass('left-top') }}>
      {{ content.left-top }}
    </div>
    <div {{ region_attributes.left.addClass('left-center') }}>
      {{ content.left-center }}
    </div>
    <div {{ region_attributes.left.addClass('left-bottom') }}>
      {{ content.left-bottom }}
    </div>
  </div>
  <div {{ region_attributes.right.addClass('right') }}>
    <div {{ region_attributes.right.addClass('right-top') }}>
      {{ content.right-top }}
    </div>
    <div {{ region_attributes.right.addClass('right-bottom') }}>
      {{ content.right-bottom }}
    </div>
  </div>
</section>
